LIBRARIES

In [2]:
import os
import json
import pandas as pd
import pymysql
import streamlit as st

DATA EXTRACTION

AGGREGATED DATA

TRANSACTION

In [2]:
#Aggre TX

Aggre_path1= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/aggregated/transaction/country/india/state/"
Agg_tx= os.listdir(Aggre_path1)


Tx_col1={"States": [], "Years": [], "Quaters": [], "Transaction_type": [], "Transaction_count": [],"Transaction_amount": []}

#get  path access untill states 

for state1 in Agg_tx:
    currentstate = Aggre_path1+state1+"/"
    aggre_year=os.listdir(currentstate)
    
#get  path access each years of states 
    
    for year1 in aggre_year:
        currentyear=currentstate+year1+"/"
        aggre_file=os.listdir(currentyear)
        
#get  path access each file and load every file  

        for file1 in aggre_file:
            currentfile=currentyear+file1
            data = open(currentfile,"r")
            
            A1=json.load(data)
            for i in A1["data"]["transactionData"]:
                data = i["name"]
                Tx_col1["Transaction_type"].append(data)
                data2 = i["paymentInstruments"][0]["count"]
                Tx_col1["Transaction_count"].append(data2)
                data3 = i["paymentInstruments"][0]["amount"]
                Tx_col1["Transaction_amount"].append(data3)
                Tx_col1["States"].append(state1)
                Tx_col1["Years"].append(year1)
                Tx_col1["Quaters"].append(int(file1.strip(".json")))
                
Agg_tx_df = pd.DataFrame(Tx_col1)

Agg_tx_df["States"]=Agg_tx_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Agg_tx_df["States"]=Agg_tx_df["States"].str.replace("-"," ")
Agg_tx_df["States"]=Agg_tx_df["States"].str.title()
Agg_tx_df["States"]=Agg_tx_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

USER

In [3]:
#Aggre User

Aggre_path2= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/aggregated/user/country/india/state/"
Agg_Us= os.listdir(Aggre_path2)

Tx_col2={"States": [], "Years": [], "Quaters": [], "Brands": [], "Transaction_count": [],"Percentage": []}


#get  path access untill states 

for state2 in Agg_Us:
    currentstate2 = Aggre_path2+state2+"/"
    aggre_year2=os.listdir(currentstate2)
    
#get  path access each years of states 
    
    for year2 in aggre_year2:
        currentyear2=currentstate2+year2+"/"
        aggre_file2=os.listdir(currentyear2)
        

#get  path access each file and load every file 
        
        for file2 in aggre_file2:
            currentfile2=currentyear2+file2
            data2 = open(currentfile2,"r")
            
            A2=json.load(data2)

#use try & except to pass type error

            try:
                
                for i in A2["data"]["usersByDevice"]:
                    data = i["brand"]
                    Tx_col2["Brands"].append(data)
                    data2 = i["count"]
                    Tx_col2["Transaction_count"].append(data2)
                    data3 = i["percentage"]
                    Tx_col2["Percentage"].append(data3)
                    Tx_col2["States"].append(state2)
                    Tx_col2["Years"].append(year2)
                    Tx_col2["Quaters"].append(int(file2.strip(".json")))
                    
            except:
                pass
            
Agg_User_df = pd.DataFrame(Tx_col2)

Agg_User_df["States"]=Agg_User_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Agg_User_df["States"]=Agg_User_df["States"].str.replace("-"," ")
Agg_User_df["States"]=Agg_User_df["States"].str.title()
Agg_User_df["States"]=Agg_User_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

INSURANCE

In [16]:
#Aggre insurance

Aggre_path3= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/aggregated/insurance/country/india/state/"
Agg_ins= os.listdir(Aggre_path3)


Tx_col3={"States": [], "Years": [], "Quaters": [], "Transaction_Type": [], "Transaction_count": [],"Transaction_amount": []}

#get  path access untill states 

for state3 in Agg_ins:
    currentstate3 = Aggre_path3+state3+"/"
    aggre_year3=os.listdir(currentstate3)
    
#get  path access each years of states 
    
    for year3 in aggre_year3:
        currentyear3=currentstate3+year3+"/"
        aggre_file3=os.listdir(currentyear3)
        
#get  path access each file and load every file  

        for file3 in aggre_file3:
            currentfile3=currentyear3+file3
            data3 = open(currentfile3,"r")
            
            A3=json.load(data3)
            for i in A3["data"]["transactionData"]:
                    data= i["paymentInstruments"][0]["count"]
                    Tx_col3["Transaction_count"].append(data)
                    data2 = i["paymentInstruments"][0]["amount"]
                    Tx_col3["Transaction_amount"].append(data2)
                    data3 = i["name"]
                    Tx_col3["Transaction_Type"].append(data3)
                    Tx_col3["States"].append(state3)
                    Tx_col3["Years"].append(year3)
                    Tx_col3["Quaters"].append(int(file3.strip(".json")))
                    
Agg_Ins_df = pd.DataFrame(Tx_col3)

Agg_Ins_df["States"]=Agg_Ins_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Agg_Ins_df["States"]=Agg_Ins_df["States"].str.replace("-"," ")
Agg_Ins_df["States"]=Agg_Ins_df["States"].str.title()
Agg_Ins_df["States"]=Agg_Ins_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

MAP DATA

TRANSACTION

In [5]:
#Map TX

Map_path1= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/map/transaction/hover/country/india/state/"
Map_tx= os.listdir(Map_path1)


Map_col1={"States": [], "Years": [], "Quaters": [], "Districts": [], "Transaction_count": [],"Transaction_amount": []}

#get  path access untill states 

for state1 in Map_tx:
    currentstate = Map_path1+state1+"/"
    Map_year=os.listdir(currentstate)
    
#get  path access each years of states 
    
    for year1 in Map_year:
        currentyear=currentstate+year1+"/"
        Map_file=os.listdir(currentyear)
        
#get  path access each file and load every file  

        for file1 in Map_file:
            currentfile=currentyear+file1
            data = open(currentfile,"r")
            
            B1=json.load(data)
           
            
            for i in B1["data"]["hoverDataList"]:
                data = i["name"]
                Map_col1["Districts"].append(data)
                data2 = i["metric"][0]["count"]
                Map_col1["Transaction_count"].append(data2)
                data3 = i["metric"][0]["amount"]
                Map_col1["Transaction_amount"].append(data3)
                Map_col1["States"].append(state1)
                Map_col1["Years"].append(year1)
                Map_col1["Quaters"].append(int(file1.strip(".json")))
                
Map_Tx_df = pd.DataFrame(Map_col1)

Map_Tx_df["States"]=Map_Tx_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Map_Tx_df["States"]=Map_Tx_df["States"].str.replace("-"," ")
Map_Tx_df["States"]=Map_Tx_df["States"].str.title()
Map_Tx_df["States"]=Map_Tx_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

USER

In [6]:
#Map User

Map_path2= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/map/user/hover/country/india/state/"
Map_Us= os.listdir(Map_path2)

Map_col2={"States": [], "Years": [], "Quaters": [], "Districts": [], "Registered_Users": [],"App_Opens": []}


#get  path access untill states 

for state2 in Map_Us:
    currentstate2 = Map_path2+state2+"/"
    aggre_year2=os.listdir(currentstate2)
    
#get  path access each years of states 
    
    for year2 in aggre_year2:
        currentyear2=currentstate2+year2+"/"
        aggre_file2=os.listdir(currentyear2)
        

#get  path access each file and load every file 
        
        for file2 in aggre_file2:
            currentfile2=currentyear2+file2
            data2 = open(currentfile2,"r")
            
            B2=json.load(data2)
            
            for i in B2["data"]["hoverData"].items():
                data= i[0]
                Map_col2["Districts"].append(data)
                data2 = i[1]["registeredUsers"]
                Map_col2["Registered_Users"].append(data2)
                data3 = i[1]["appOpens"]
                Map_col2["App_Opens"].append(data3)
                Map_col2["States"].append(state2)
                Map_col2["Years"].append(year2)
                Map_col2["Quaters"].append(int(file2.strip(".json")))
                
Map_Us_df = pd.DataFrame(Map_col2)

Map_Us_df["States"]=Map_Us_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Map_Us_df["States"]=Map_Us_df["States"].str.replace("-"," ")
Map_Us_df["States"]=Map_Us_df["States"].str.title()
Map_Us_df["States"]=Map_Us_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

INSURANCE

In [7]:
#Map insurance

Map_path3= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/map/insurance/hover/country/india/state/"
Map_ins= os.listdir(Map_path3)


Map_col3={"States": [], "Years": [], "Quaters": [], "Districts": [], "Transaction_count": [],"Transaction_amount": []}

#get  path access untill states 

for state3 in Map_ins:
    currentstate3 = Map_path3+state3+"/"
    aggre_year3=os.listdir(currentstate3)
    
#get  path access each years of states 
    
    for year3 in aggre_year3:
        currentyear3=currentstate3+year3+"/"
        aggre_file3=os.listdir(currentyear3)
        
#get  path access each file and load every file  

        for file3 in aggre_file3:
            currentfile3=currentyear3+file3
            data3 = open(currentfile3,"r")
            
            B3=json.load(data3)
            
            for i in B3["data"]["hoverDataList"]:
                data =i["name"]
                Map_col3["Districts"].append(data)
                data2= i["metric"][0]["count"]
                Map_col3["Transaction_count"].append(data2)
                data3 = i["metric"][0]["amount"]
                Map_col3["Transaction_amount"].append(data3)
                Map_col3["States"].append(state3)
                Map_col3["Years"].append(year3)
                Map_col3["Quaters"].append(int(file3.strip(".json")))
                
Map_ins_df = pd.DataFrame(Map_col3)

Map_ins_df["States"]=Map_ins_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Map_ins_df["States"]=Map_ins_df["States"].str.replace("-"," ")
Map_ins_df["States"]=Map_ins_df["States"].str.title()
Map_ins_df["States"]=Map_ins_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

TOP DATA

TRANSACTION

In [8]:
#Top TX

Top_path1= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/top/transaction/country/india/state/"
Top_tx= os.listdir(Top_path1)


Top_col1={"States": [], "Years": [], "Quaters": [], "Pincodes": [], "Transaction_count": [],"Transaction_amount": []}

#get  path access untill states 

for state1 in Top_tx:
    currentstate = Top_path1+state1+"/"
    Map_year=os.listdir(currentstate)
    
#get  path access each years of states 
    
    for year1 in Map_year:
        currentyear=currentstate+year1+"/"
        Map_file=os.listdir(currentyear)
        
#get  path access each file and load every file  

        for file1 in Map_file:
            currentfile=currentyear+file1
            data = open(currentfile,"r")
            
            C1=json.load(data)
           
            for i in C1["data"]["pincodes"]:
                data =i["entityName"]
                Top_col1["Pincodes"].append(data)
                data2= i["metric"]["count"]
                Top_col1["Transaction_count"].append(data2)
                data3 = i["metric"]["amount"]
                Top_col1["Transaction_amount"].append(data3)
                Top_col1["States"].append(state1)
                Top_col1["Years"].append(year1)
                Top_col1["Quaters"].append(int(file1.strip(".json")))
                
Top_Tx_df = pd.DataFrame(Top_col1)

Top_Tx_df["States"]=Top_Tx_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Top_Tx_df["States"]=Top_Tx_df["States"].str.replace("-"," ")
Top_Tx_df["States"]=Top_Tx_df["States"].str.title()
Top_Tx_df["States"]=Top_Tx_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

USER

In [9]:
#Top User

Top_path2= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/top/user/country/india/state/"
Top_Us= os.listdir(Top_path2)

Top_col2={"States": [], "Years": [], "Quaters": [], "Pincodes": [], "Registered_Users": []}


#get  path access untill states 

for state2 in Top_Us:
    currentstate2 = Top_path2+state2+"/"
    aggre_year2=os.listdir(currentstate2)
    
#get  path access each years of states 
    
    for year2 in aggre_year2:
        currentyear2=currentstate2+year2+"/"
        aggre_file2=os.listdir(currentyear2)
        

#get  path access each file and load every file 
        
        for file2 in aggre_file2:
            currentfile2=currentyear2+file2
            data2 = open(currentfile2,"r")
            
            C2=json.load(data2)
            
            for i in C2["data"]["pincodes"]:
                data= i["name"]
                Top_col2["Pincodes"].append(data)
                data2 = i["registeredUsers"]
                Top_col2["Registered_Users"].append(data2)
                Top_col2["States"].append(state2)
                Top_col2["Years"].append(year2)
                Top_col2["Quaters"].append(int(file2.strip(".json")))
                
Top_Us_df = pd.DataFrame(Top_col2)
                
Top_Us_df["States"]=Top_Us_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Top_Us_df["States"]=Top_Us_df["States"].str.replace("-"," ")
Top_Us_df["States"]=Top_Us_df["States"].str.title()
Top_Us_df["States"]=Top_Us_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

INSURANCE

In [11]:
#Top insurance

Top_path3= "C:/Users/Aishwarya MMPL/Documents/GUVI_PYTHON/Projects/phonepe/pulse/data/top/insurance/country/india/state/"
Top_ins= os.listdir(Top_path3)


Top_col3={"States": [], "Years": [], "Quaters": [], "Pincodes": [], "Transaction_count": [],"Transaction_amount": []}

#get  path access untill states 

for state3 in Top_ins:
    currentstate3 = Top_path3+state3+"/"
    aggre_year3=os.listdir(currentstate3)
    
#get  path access each years of states 
    
    for year3 in aggre_year3:
        currentyear3=currentstate3+year3+"/"
        aggre_file3=os.listdir(currentyear3)
        
#get  path access each file and load every file  

        for file3 in aggre_file3:
            currentfile3=currentyear3+file3
            data3 = open(currentfile3,"r")
            
            C3=json.load(data3)
            
            for i in C3["data"]["pincodes"]:
                data =i["entityName"]
                Top_col3["Pincodes"].append(data)
                data2= i["metric"]["count"]
                Top_col3["Transaction_count"].append(data2)
                data3 = i["metric"]["amount"]
                Top_col3["Transaction_amount"].append(data3)
                Top_col3["States"].append(state3)
                Top_col3["Years"].append(year3)
                Top_col3["Quaters"].append(int(file3.strip(".json")))
                
Top_ins_df = pd.DataFrame(Top_col3)

Top_ins_df["States"]=Top_ins_df["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Top_ins_df["States"]=Top_ins_df["States"].str.replace("-"," ")
Top_ins_df["States"]=Top_ins_df["States"].str.title()
Top_ins_df["States"]=Top_ins_df["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

TABLE CREATION FOR AGGREGATED DATA

CONNECTION

In [12]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

TRANSACTION

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Agg_trans_query
drop_Table='''drop table if exists Agg_Tx'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryA1='''create table if not exists Agg_Tx(States char(255),Years int, Quaters int, Transaction_type char(255),
                                            Transaction_count bigint, Transaction_amount bigint)'''
cur.execute(Create_QueryA1)
myconnection.commit()

Insert_QueryA1='''insert into Agg_Tx(States, Years, Quaters, Transaction_type, Transaction_count, Transaction_amount)
                        values(%s,%s,%s,%s,%s,%s)'''

Agg_Tx_datas= Agg_tx_df.values.tolist()

cur.executemany(Insert_QueryA1,Agg_Tx_datas)
myconnection.commit()

USER

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Agg_User_query
drop_Table='''drop table if exists Agg_Us'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryA2='''create table if not exists Agg_Us(States char(255),Years int, Quaters int, Brands char(255),
                                            Transaction_count bigint, Percentage float)'''
cur.execute(Create_QueryA2)
myconnection.commit()

Insert_QueryA2='''insert into Agg_Us(States, Years, Quaters, Brands, Transaction_count, Percentage)
                        values(%s,%s,%s,%s,%s,%s)'''

Agg_Us_datas= Agg_User_df.values.tolist()

cur.executemany(Insert_QueryA2,Agg_Us_datas)
myconnection.commit()

INSURANCE

In [ ]:
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Agg_Ins_query
drop_Table='''drop table if exists Agg_Ins'''
cur.execute(drop_Table)
myconnection.commit()


Create_QueryA3='''create table if not exists Agg_Ins(States char(255),Years int, Quaters int, Transaction_type char(255),
                                            Transaction_count bigint, Transaction_amount bigint)'''
cur.execute(Create_QueryA3)
myconnection.commit()

Insert_QueryA3='''insert into Agg_Ins(States, Years, Quaters, Transaction_type, Transaction_count, Transaction_amount)
                        values(%s,%s,%s,%s,%s,%s)'''

Agg_Ins_datas= Agg_Ins_df.values.tolist()

cur.executemany(Insert_QueryA3,Agg_Ins_datas)
myconnection.commit()

TABLE CREATION FOR MAP DATA

TRANSACTION

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Map_trans_query
drop_Table='''drop table if exists Map_Tx'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryB1='''create table if not exists Map_Tx(States char(255),Years int, Quaters int, Districts char(255),
                                            Transaction_count bigint, Transaction_amount bigint)'''
cur.execute(Create_QueryB1)
myconnection.commit()

Insert_QueryB1='''insert into Map_Tx(States, Years, Quaters, Districts, Transaction_count, Transaction_amount)
                        values(%s,%s,%s,%s,%s,%s)'''

Map_Tx_datas= Map_Tx_df.values.tolist()

cur.executemany(Insert_QueryB1,Map_Tx_datas)
myconnection.commit()

USER

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Map_User_query
drop_Table='''drop table if exists Map_User'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryB2='''create table if not exists Map_User(States char(255),Years int, Quaters int, Districts char(255),
                                            Registered_Users bigint, App_Opens bigint)'''
cur.execute(Create_QueryB2)
myconnection.commit()

Insert_QueryB2='''insert into Map_User(States, Years, Quaters, Districts, Registered_Users, App_Opens)
                        values(%s,%s,%s,%s,%s,%s)'''

Map_Us_datas= Map_Us_df.values.tolist()

cur.executemany(Insert_QueryB2,Map_Us_datas)
myconnection.commit()

INSURANCE

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Map_Ins_query
drop_Table='''drop table if exists Map_Ins'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryB3='''create table if not exists Map_Ins(States char(255),Years int, Quaters int, Districts char(255),
                                            Transaction_count bigint, Transaction_amount bigint)'''
cur.execute(Create_QueryB3)
myconnection.commit()

Insert_QueryB3='''insert into Map_Ins(States, Years, Quaters, Districts, Transaction_count, Transaction_amount)
                        values(%s,%s,%s,%s,%s,%s)'''

Map_Ins_datas= Map_ins_df.values.tolist()

cur.executemany(Insert_QueryB3,Map_Ins_datas)
myconnection.commit()


TABLE CREATION FOR TOP DATA

TRANSACTION

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Top_trans_query
drop_Table='''drop table if exists Top_Tx'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryC1='''create table if not exists Top_Tx(States char(255),Years int, Quaters int, Pincodes int,
                                            Transaction_count bigint, Transaction_amount bigint)'''
cur.execute(Create_QueryC1)
myconnection.commit()

Insert_QueryC1='''insert into Top_Tx(States, Years, Quaters, Pincodes, Transaction_count, Transaction_amount)
                        values(%s,%s,%s,%s,%s,%s)'''

Top_Tx_datas= Top_Tx_df.values.tolist()

cur.executemany(Insert_QueryC1,Top_Tx_datas)
myconnection.commit()

USER

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Top_User_query
drop_Table='''drop table if exists Top_User'''
cur.execute(drop_Table)
myconnection.commit()


Create_QueryC2='''create table if not exists Top_User(States char(255),Years int, Quaters int, Pincodes int,
                                            Registered_Users bigint)'''
cur.execute(Create_QueryC2)
myconnection.commit()

Insert_QueryC2='''insert into Top_User(States, Years, Quaters, Pincodes, Registered_Users)
                        values(%s,%s,%s,%s,%s)'''

Top_Us_datas= Top_Us_df.values.tolist()

cur.executemany(Insert_QueryC2,Top_Us_datas)
myconnection.commit()

INSURANCE

In [ ]:
#sql connection
myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='root',database = "phonepe",port=3306)
cur = myconnection.cursor()

#Top_Ins_query
drop_Table='''drop table if exists Top_Ins'''
cur.execute(drop_Table)
myconnection.commit()

Create_QueryC3='''create table if not exists Top_Ins(States char(255),Years int, Quaters int, Pincodes int,
                                            Transaction_count bigint, Transaction_amount bigint)'''
cur.execute(Create_QueryC3)
myconnection.commit()

Insert_QueryC3='''insert into Top_Ins(States, Years, Quaters, Pincodes, Transaction_count, Transaction_amount)
                        values(%s,%s,%s,%s,%s,%s)'''

Top_Ins_datas= Top_ins_df.values.tolist()

cur.executemany(Insert_QueryC3,Top_Ins_datas)
myconnection.commit()